#### Import Apache Cassandra python package

In [3]:
#import cassandra
from utility.cql_builder import *

### Create a connection to node(s) and create a session

In [ ]:
from cassandra.cluster import Cluster
#list node ips
node_ips = []
#or connect to contact points, 
# driver will automatically discover the rest of nodes in cluster and connect them.
contact_node = ""

try: 
    cluster = Cluster(contact_node)
    session = cluster.connect()
except Exception as e:
    print(e)

### Create a keyspace on the connection

In [ ]:
keyspace_name = ""
cql = cql_builder.build_create_keyspace_cql(keyspace_name=keyspace_name, replication_factor=1)
try:
    session.execute(cql)
except Exception as e:
    print(e)

### Reference to keyspace

In [ ]:
try:
    session.set_keyspace(keyspace_name)
except Exception as e:
    print(e)

### Create column families on the referenced keyspace

In [4]:
create_music_library_cql = build_create_table_cql(
    table_name="music_library",
    columns = [
            "year smallint",
            "artist_name text",
            "album_name text",
            ],
    primary_key = "year, artist_name, album_name"
    )

create_artist_library_cql = build_create_table_cql(
    table_name = "artist_library",
    columns = [
            "year smallint",
            "artist_name text",
            "album_name text",
            ],
    primary_key = "artist_name, album_name"
    )

create_album_library_cql = build_create_table_cql(
    table_name = "album_library",
    columns = [
            "year smallint",
            "artist_name text",
            "album_name text",
            ],
    primary_key = "album_name, artist_name"
    )

# try:
#     session.execute()
# except Exception as e:
#     print(e)

        CREATE TABLE IF NOT EXISTS music_library (year smallint, artist_name text, album_name text, primary key(year, artist_name, album_name))


        CREATE TABLE IF NOT EXISTS artist_library (year smallint, artist_name text, album_name text, primary key(artist_name, album_name))


        CREATE TABLE IF NOT EXISTS album_library (year smallint, artist_name text, album_name text, primary key(album_name, artist_name))

### Insert data into the tables

In [ ]:
query = "INSERT INTO music_library (year, artist_name, album_name) VALUES (%s, %s, %s)"
try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)

### Query data

In [ ]:
query = "select * from #### WHERE #####"
# try:
#     rows = session.execute(query)
# except Exception as e:
#     print(e)

### Close the session, connection

In [ ]:
session.shutdown()
cluster.shutdown()